body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#test4{
  border-right: 1px #424242 solid;
}

.test:hover{
  cursor: pointer;
  background-color: #616161;


}
.tab:hover{
  cursor: pointer;
  background-color:grey;
 
}
.pl20{
  padding: 0px 20px !important;
}

.pl30{
  padding: 0px 30px !important;
}
.pl133{
  padding: 0px 133px 0px 10px !important;
  margin-right: 5px;
}

.pl133:hover{
  cursor: pointer;
  background-color: #424242;
}

.pl30:hover{
  cursor: pointer;
  background-color: #424242;
}

.collection>li:hover{
  cursor: pointer;
  background-color: grey;
    color: #eafaf9;
}

.active{
  background-color: grey !important;
}

.block{
  display: none;
  position: absolute;
  right: 120px;
  color: red;
}

.transform{
  transform: rotate(180deg);
}
.padText{
  padding: 10px !important;
}
.p0{
  padding: 0px !important;
  height: 10px;
}
.cartBox{
  float: left;
}
.grid-container {
  display: grid;
  grid-template-columns:  350px auto ;
  grid-gap: 10px;
  padding: 10px;
}
.grid-price{
  display: grid;
  grid-template-columns:  20% 20% 20% ;
  text-align: center;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container  ul li{
  border-bottom: 1px solid #424242;
}
.divclass{
  margin-left: 25px;
  margin-top: 17px;
  background-color: red;
  height: 7px;
  width: 7px;
  border-radius: 39px;
}

.cartitem{
  position: absolute;
  top:0
}
.hed{
  height: 62px;
}
.boxBlok{
  height: 64px;
    width: -webkit-fill-available;
}